body{
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.position{
    margin: auto;
}
.color{
    color:black !important;
}
.bg-orange{
    background-color: orange!important;
}
.bg-dark{
color: white!important;
}

